<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suktha Solution</title>    
</head>
<body>
    <h2>Hello ${user.name} </h2>
    <br>
    <h3>Please use OTP ${user.otp} to reset your password</h3>   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Regards,</p>
    <p>Suktha Business Solution</p>
</body>
</html>